<div class="panel panel-default">
  <div class="panel-heading">Ваши заявления об ошибках</div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#new">Новые</a></li>
      <li><a data-toggle="tab" href="#in_progress">В работе</a></li>
      <li><a data-toggle="tab" href="#solved">Решённые</a></li>
      <li><a data-toggle="tab" href="#refused">Отклоннёные</a></li>
      <li><a data-toggle="tab" href="#comments">Комментарии</a></li>
      <!-- <li><a data-toggle="tab" href="#comments">Мои комментарии</a></li> -->
    </ul>

    <div class="tab-content">
      <!-- NEW ISSUES  -->
      <div id="new" class="tab-pane fade in active">
        {% include 'bugtracker_app/profile/new.html' %}
      </div>
      <!-- IN_PROGRESS ISSUES  -->
      <div id="in_progress" class="tab-pane fade">
        {% include 'bugtracker_app/profile/in_progress.html' %}
      </div>
      <!-- SOLVED ISSUES -->
      <div id="solved" class="tab-pane fade">
        {% include 'bugtracker_app/profile/solved.html' %}
      </div>
      <!-- REFUSED ISSUES -->
      <div id="refused" class="tab-pane fade">
        {% include 'bugtracker_app/profile/refused.html' %}
      </div>
      <!-- COMMENTS -->
      <div id="comments" class="tab-pane fade">
        {% include 'bugtracker_app/profile/comments.html' %}
      </div>
      <!-- MY COMMENTS -->
<!--       <div id="comments" class="tab-pane fade">
        {% include 'bugtracker_app/profile/my_comments.html' %}
      </div> -->
    </div>
  </div>
</div>