<div class="panel panel-default">
   <div class="panel-heading">
      Информация о профиле
   </div>
   <div class="panel-body">
      <table class="table table-striped">
         <tr>
            <td><b>Имя</b></td>
            <td>{{user.first_name}}</td>
         </tr>
         <tr>
            <td><b>Username</b></td>
            <td>{{user.username}}</td>
         </tr>
         <tr>
            <td><b>E-mail</b></td>
            <td>{{user.email}}</td>
         </tr>
      </table>
   </div>
</div>