<div class="panel panel-success">
  <div class="panel-heading">
    <h4>Решены</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead style="font-weight: bold">
        <tr>
          <td>#</td>
          <td>Тема</td>
          <td>Описание</td>
        </tr>
      </thead>
      <tbody>
        {%for issue in solved%}
        <tr onclick="window.location='{{issue.get_absolute_url}}';">
          <td>{{issue.id}}</td>
          <td>{{issue.subject}}</td>
          <td>{{issue.description}}</td>
        </tr>
        {%endfor%}  
      </tbody>

    </table>
  </div>
  <div class="panel-footer">
    <a href="" class="btn btn-success">Показать все</a>
  </div>
</div>