<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>





<hr>
<div class="container">
  <div class="row">

    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Заявить о ошибке</h4>
      </div>
      <div class="panel-body">
        {% load myfilters %}
        <!-- FORM REPORT BUG -->
        <form action="{%url 'bugtracker:index'%}" method="post">
          {% csrf_token %}
          <!-- SUBJECT -->
          <div class="form-group">
            <label for="id_subject">Заголовок</label>
            {{ form.subject|addattrs:'class=form-control, placeholder=Введите заголовок'}}       
            <small class="form-text text-muted">Кратко озаглавьте найденную ошибку</small>
          </div>
          <!-- DESCRIPTION -->
          <div class="form-group">
            <label for="id_description">Описание</label>
            {{ form.description|addattrs:'class=form-control, placeholder=Подробно опишите возникшую ошибку'}} 
          </div>
          <!-- NAME -->
          <div class="form-group">
            <label for="id_author_name">Ваше имя</label>
            {{ form.author_name|addattrs:'class=form-control, placeholder=Введите Ваше имя'}} 
          </div>
          <!-- EMAIL -->
          <div class="form-group">
            <label for="id_author_email">Ваш email</label>
            {{ form.author_email|addattrs:'class=form-control, placeholder=Введите Ваш email'}}
            <small class="form-text text-muted">Для обратной связи с Вами</small>
          </div>
          <!-- NOTIFY BY EMAIL -->
          <div class="form-check">
            {{ form.notify_by_email|addclass:'form-check-input' }}
            <label class="form-check-label" for="id_notify_by_email">Уведомлять меня о статусе ошибки по email</label>
          </div>
          <!-- AREA AND IMPOTANCE -->
          <div class="form-group">  
            <div class="row">
              <!-- AREA -->
              <div class="col-md-6">
                <label for="id_area">Где произошла ошибка?</label>
                {{ form.area|addclass:'form-control' }} 
              </div>
              <div class="col-md-6">
                <label for="id_importance">Оцените важность ошибки</label>
                {{ form.importance|addclass:'form-control' }} 
              </div>
              
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- END FORM REPORT BUG -->        
      </div>
    </div>


    </div>


    <!-- IN PROGRESS -->
    <div class="col-sm-12"> 
    <hr>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4>В работе</h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>#</td>
                <td>Тема</td>
                <td>Описание</td>
              </tr>
            </thead>
            <tbody>
              {%for issue in in_progress%}
              <tr>
                <td>{{issue.id}}</td>
                <td>{{issue.subject}}</td>
                <td>{{issue.description}}</td>
              </tr>
              {%endfor%}  
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <a href="" class="btn btn-warning">Показать все</a>
        </div>
      </div>
    </div>
    <!-- END IN PROGRESS  -->


    <!-- SOLVED -->
    <div class="col-sm-12">
    <hr>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>Решены</h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>#</td>
                <td>Тема</td>
                <td>Описание</td>
              </tr>
            </thead>
            <tbody>
              {%for issue in solved%}
              <tr>
                <td>{{issue.id}}</td>
                <td>{{issue.subject}}</td>
                <td>{{issue.description}}</td>
              </tr>
              {%endfor%}  
            </tbody>

          </table>
        </div>
        <div class="panel-footer">
          <a href="" class="btn btn-success">Показать все</a>
        </div>
      </div>
    </div>
    <!-- END SOLVED  -->      

    


  </div>
</div>





</body>
</html>


