{% extends 'bugtracker_app/base.html'%}
{% block title %}
Спасибо
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Спасибо! Номер вашей заявки
          <a href="{% url 'bugtracker:issue_detail' pk=report_issue_id %}">№{{report_issue_id}}</a>
         </h4>
        <p>Наши специалиcты уже работают над вашей заявкой.
         Мы пришлём вам уведомление, в случае обновления статуса заявки.</p>
        <hr>
        <a href="{% url 'bugtracker:index'%}" class="btn btn-success">Вернуться на главную</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}