<div class="panel panel-default">
    <div class="panel-heading">
      Обсуждение
    </div>
    <div class="panel-body">

      <!-- COMMENTS LIST -->

      {% for comment in issue.comments.all%}
        {% include 'bugtracker_app/issue_detail/comment.html'%}
        {% if reply == comment.id %}
          {% include 'bugtracker_app/issue_detail/add_new_comment.html'%}
        {% endif %}
      {% empty %}
        <div class="well">Комментариев нет</div>
      {% endfor %}

      <hr>
      <hr>
      <!-- ADD NEW COMMENT -->
      {% if reply < 0 %}
        {% include 'bugtracker_app/issue_detail/add_new_comment.html'%}
      {% endif %}
    </div>
</div> 