{% load myfilters %}
<div class="panel panel-{{issue.status.name|css_by_issue_status}}">
  <div class="panel-heading">
    <h3>Ошибка №{{issue.pk}}</h3>
  </div>
  <div class="panel-body">
  <h4><b>Тема:</b> {{issue.subject}}</h4>
  <h4><b>Описание:</b> {{issue.description}}</h4>
  <h4><b>Статус:</b> 
    <span class="label label-{{issue.status.name|css_by_issue_status}}">
      {{ issue.status.name }}
    </span>
  </h4>
  <h4><b>Место возникновения:</b> {{issue.area.name}}</h4>
  <h4><b>Важность:</b> {{issue.importance.name}}</h4>
  <hr>
  <h4><b>Имя заявителя ошибки:</b> {{issue.author_name}}</h4>
  <h4><b>Email заявителя ошибки:</b> {{issue.author_email}}</h4>

  </div>
</div>