{% extends "bugtracker_app/base.html" %}

{% block title %} Заявить об ошибке {% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-6">
      {% include 'bugtracker_app/index/form_report_bug.html'%}
    </div>
  </div>
  
  <hr>
  <div class="row">
    <div class="col-sm-12"> 

      {% include 'bugtracker_app/index/in_progress_issues.html'%}
    </div>
  </div>

  <hr>
  <div class="row">    
    <div class="col-sm-12">
      {% include 'bugtracker_app/index/solved_issues.html'%}
    </div>    
  </div>

</div>
{% endblock %}


