{% extends 'bugtracker_app/base.html'%}

{% block title%}
  #{{issue.id}} {{issue.subject}}
{% endblock%}

{% block js %}
<script src="https://raw.githubusercontent.com/stewartlord/identicon.js/master/identicon.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
  <!-- ISSUE DETAIL -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% include 'bugtracker_app/issue_detail/issue.html'%}
      </div>
    </div>

  <!-- ISSUE COMMENTS -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% include 'bugtracker_app/issue_detail/comments.html'%}
      </div>
    </div>
  </div>
{% endblock %}


