<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{%url 'bugtracker:index'%}">Россельхознадзор</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{{page_report}}"><a href="{% url 'bugtracker:index'%}">Заявить</a></li>
      <li class="{{page_in_progress}}"><a href="#">В работе</a></li>
      <li class="{{page_solved}}"><a href="#">Решённые</a></li>
      {% if user.is_authenticated %}
      <li class="{{page_profile}}">
        <a href="{% url 'bugtracker:profile' user.id %}">
          <span class="glyphicon glyphicon-user"></span>
            Профиль
        </a>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{%url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% else %}
      <li><a href="{%url 'bugtracker:register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{%url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}

    </ul>
  </div>
</nav> 